// Ocultar scrollbar para Chrome, Safari and Opera
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

// Ocultar scrollbar para IE, Edge and Firefox
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}