@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}


.product-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}