    :host { display: block; }
    .xs\\:grid-cols-2 { @media (min-width: 480px) { grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    .xs\\:grid-cols-3 { @media (min-width: 480px) { grid-template-columns: repeat(3, minmax(0, 1fr)); } }
    .xs\\:inline { @media (min-width: 480px) { display: inline; } }