@use '@angular/material' as mat;

@include mat.core();

// Configuración del tema con Material Design 3
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
  density: (
    scale: 0,
  ),
));

html {
  @include mat.all-component-themes($theme);
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Tailwind CSS - Solo utilidades, sin resetç
@tailwind base;
@tailwind components;
@tailwind utilities;