.hero-carousel {
  width: 100%;
  
  /* --- CAMBIOS PARA MOVIL (Estilo "Miniatura Desktop") --- */
  height: auto;           /* Quitamos los 600px fijos */
  aspect-ratio: 16 / 9;   /* Forzamos formato panorámico rectangular */
  
  overflow: hidden;
  position: relative;

  /* --- CAMBIOS PARA DESKTOP (Pantalla Grande) --- */
  @media (min-width: 768px) {
    aspect-ratio: auto;   /* Quitamos la restricción panorámica */
    // height: 100vh;        /* O '600px' si prefieres esa altura en PC */
    height: 600px;        /* O '600px' si prefieres esa altura en PC */

  }

  .carousel-track {
    display: flex;
    width: 400%; 
    height: 100%;
    animation: infinite-scroll 15s infinite;
  }

  .slide {
    /* IMPORTANTE: Si el track es 400%, cada slide debe ser el 25% */
    width: 25%;  
    height: 100%;
    
    /* Aseguramos que la imagen no se deforme */
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      height: 100%;
      background: rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 3.5rem;
      font-weight: 800;
    }
  }
}

@keyframes infinite-scroll {
  0%, 30% { transform: translateX(0); }
  33.33%, 63.33% { transform: translateX(-25%); } /* Mueve 1 slide (25% del total) */
  66.66%, 96.66% { transform: translateX(-50%); } /* Mueve 2 slides */
  100% { transform: translateX(-75%); }             /* Mueve al clon final */
}